[Unit]
Description=mysql-healthcheck - a utility to perform health checks on MySQL clusters

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/local/bin/mysql-healthcheck -d
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target